In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('movie.csv')

In [4]:
df.shape

(6010, 7)

In [5]:
df.head(1)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
 cv = CountVectorizer()

In [9]:
 countMatrix = cv.fit_transform(df['comb'])
 similarity = cosine_similarity(countMatrix)

In [10]:
df.head(1)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...

<1x10505 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [16]:
similarity

array([[1.        , 0.24174689, 0.16116459, ..., 0.        , 0.        ,
        0.        ],
       [0.24174689, 1.        , 0.18181818, ..., 0.        , 0.        ,
        0.        ],
       [0.16116459, 0.18181818, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.10540926,
        0.1       ],
       [0.        , 0.        , 0.        , ..., 0.10540926, 1.        ,
        0.10540926],
       [0.        , 0.        , 0.        , ..., 0.1       , 0.10540926,
        1.        ]])